{{#each quotes}}
<li class="quotes list-group-item">
    <h5>{{quote}}</h5>
    <p>{{author}}</p>
    <a href={{img}}></a>
    <div class="row">
        <div class="col text-right">
            <button class="btn comment-btn collapsed" data-toggle="collapse" data-target="#a{{_id}}"><small>Comments</small></button>
        </div>
    </div>
    {{!-- <div id="a{{_id}}" class="collapse m-3">
        <br><br> 
        <ul class="list-group comment-list" data-id="{{_id}}">
            {{#each comment}}
                {{> comments}}
            {{/each}}
        </ul>
    </div> --}}
</li>
{{/each}}