{{#each quotes}}
<li class="quotes list-group-item">
    <h5>{{quote}}</h5>
    <p>{{author}}</p>
    <p><i>More from<a href={{link}}>{{author}}</a></i></p>
    <a href={{img}}></a>
    <div class="row">
        <div class="col text-right">

            <button type="button" class="btn comment-btn collapsed btn-info" data-toggle="modal" data-target="#quoteModal" 
            data-id="{{_id}}"><small>Comments</small></button>

            <button type="button" class="btn save-article-btn collapsed btn-primary"
            data-id="#b{{_id}}"><small>Save Article</small></button>
        </div>
    </div>
</li>
{{/each}}

